page-login {

  .login-content {
    background: #fdc23e;

    .logo-row {
      padding-bottom: 0px;
      padding-top: 20px;
    }
    .logo-row img {
      height:80px;
    }

    .login-box {
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }
     ion-input {
       border-radius: 0px;
     }

     ion-item {
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #ffffff;
       color: #000000;
       border: 1px solid #ffffff;
     }

     .register-btn {
       margin-top:20px;
       color: #242633;
       font-size: 0.8em;
     }

     .location-btn {
       margin-top:30px;
       color: #FFFFFF;
       font-size: 0.8em;
       background-color: #242633;
     }
  }

}
