page-contact {
  .center{
    text-align: center;
    background-color: #f8f8f8;
  }
  .last_nest_change .toolbar-title {
    font-size:11px;
    text-align: center;
  }
  .pokemon_info {
    padding: 10px;
  }
  .no_top {
    margin-top: -5px;
  }
}
