<ion-header>
  <ion-navbar [color]="isAndroid ? 'royal' : 'primary'">
    <ion-title>
      {{pokemon.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="checkIn()">
        <ion-icon class="locate_icon" name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content cache-view="false">
  <ion-segment mode="md" color="primary" [(ngModel)]="innerTab">
    <ion-segment-button value="infoView" (ionSelect)="changePage('showInfo')">
      Info
    </ion-segment-button>
    <ion-segment-button value="mapView" (ionSelect)="changePage('showMap')" (window:resize)="onResize($event)">
      Map
    </ion-segment-button>
    <ion-segment-button value="notesView" (ionSelect)="changePage('showNotes')">
      Notes
    </ion-segment-button>
  </ion-segment>

  <!-- Info View -->
  <div class="info_view" [hidden]="!showInfo">
    <ion-toolbar class="last_nest_change">
      <ion-title>{{checkedIn}} {{checkInText}} been here.</ion-title>
    </ion-toolbar>


    <div class="padding center p_image">
      <ion-img width="80" height="80" src="./assets/pokemon/{{pokemon.number}}.png"></ion-img>
    </div>

    <ion-toolbar class="no_top">
      <ion-title>{{nest.location_name}}</ion-title>
    </ion-toolbar>

    <div class="pokemon_info padding">

    </div>
  </div>

  <!-- Map View -->
  <div class="map_view" [hidden]="!showMap">
    <div #map id="map"></div>
  </div>

  <!-- Notes View -->
  <div class="notes_view" [hidden]="!showNotes">
    <ion-list>
      <ion-list-header class="home_header">
        User Notes
      </ion-list-header>
      <ion-item ion-item *ngFor="let note of notes; let i = index">
        <ion-avatar item-left>
          <img src="{{note.user?.avatar.url}}">
        </ion-avatar>
        <h2>{{note.user?.username}} <span *ngIf="note.user?.approved==true" class="verified"><ion-icon name="checkmark-circle"></ion-icon></span></h2>
        <p>{{note.comment}}</p>
      </ion-item>
      <div padding>
        <button (click)="addComment(nest.objectId)" ion-button full>Add Note</button>
      </div>
    </ion-list>
  </div>

</ion-content>
